{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
  <a href="../../../">{% trans "Home" %}</a> &rsaquo;
  <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
  <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
  {% trans 'Import' %}
</div>
{% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
{% endblock %}

{% block content %}
<div id="content-main">
  {% include "newsletter/_contact_import_forms.html" %}
</div>
{% endblock %}
